.balanceContainer{
    background-color: var(--Soft-red);
    color: var(--Very-pale-orange);
    /* margin-top: 5em; */
    display: flex;
    justify-content: space-between;
}

.balanceBlock, .logo{
    margin: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.balanceBlock {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.balanceHeading{
    font-size: 15px;
    font-weight: 400;
}
.balanceAmount{
    font-size: 1.5em;
    font-weight: 700;
}
