.chartContainer{
    background-color: var(--Very-pale-orange);
    margin-top: 1em;
    min-height: 30vh;
    margin-bottom: 2em;
}


.chartHeading{
    padding: 1.5rem 1rem 1.5rem 1rem;
    font-size: 1.2em;
    font-weight: 700;
    color: var(--Dark-brown);
}

.barContainer{
    display: flex;
    min-height: 10vh;
    justify-content: space-between;
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-align: center; 
}

hr{
    padding: 0;
    margin: 0;
    margin: 0 1em 0 1em;
    border: none;
    border-bottom: 2px solid var(--Cream);
}